node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
npm-debug.log*
.env
.env.*

# Rust / Tauri
src-tauri/target
src-tauri/gen

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
desktop.ini
